@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #22242f, #033344);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.txt {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 55px;
}

.txt span {
  font-size: 5rem;
  position: relative;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 5rem;
  height: 5rem;
  background-color: #1a94b5;
  border-bottom-left-radius: 100%;
  transition: all 0.5s ease-in-out;
}

.cross {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 3;
}

.dash1 {
  position: relative;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 25px;
  transform: translateY(-5px);
  transition: all 0.25s ease-in-out;
}

.dash2 {
  position: relative;
  transform: translateY(5px);
  background-color: #fff;
  width: 40%;
  height: 0.25rem;
  left: 10px;
  border-radius: 25px;
  transition: all 0.25s ease-in-out;
}

.cross.open .dash1{
  transform: rotate(-45deg) translate(-3px,2px);
}

.cross.open .dash2{
  transform: rotate(45deg) translate(-6px,7px);
  width: 100%;
}

.cross.open ~ .circle {
  width: 150%;
  height: 150vh;
  border-bottom-left-radius: 100%;
}

.options{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.25s;
  z-index: 2;
}

.cross.open ~ .options{
  opacity: 1;
}

.options ul{
  text-align: center;
}
.options ul li{
  width: 100%;
  height: auto;
}

.options ul li a{
  text-decoration: none;
  font-size: 2.2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}