*
{
    margin: 0;
    padding: 0;
    color: #eee;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
}
.login
{
    /* 超出部分隐藏 */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(33, 44, 55, .3);
}
h1
{
    font-size: 45px;
    font-weight: 400;
    /* 提高层级 */
    z-index: 1;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 230px;
    /* 提高层级 */
    z-index: 1;
}
input
{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    outline: none;
}
input::placeholder
{
    font-size: 12px;
    color: #eee;
}
button
{
    width: 180px;
    height: 36px;
    border: 1px solid #eee;
    border-radius: 18px;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}
span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #916968;
    /* 鼠标居中 */
    transform: translate(-50%, -50%);
    /* 圆的形式展开 */
    border-radius: 50%;
}

/* 鼠标进入 login 时的动画 */
@keyframes in
{
    0%
    {
        width: 0;
        height: 0;
    }
    100%
    {
        width: 1200px;
        height: 1200px;
    }
}

/* 鼠标离开 login 时的动画 */
@keyframes out
{
    0%
    {
        width: 1200px;
        height: 1200px;
    }
    100%
    {
        width: 0;
        height: 0;
    }
}